<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset | async)!.matches}" fixedInViewport="false" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Rue21</mat-toolbar>
    <mat-nav-list class="navbar-menu">
        <a mat-list-item>
            <button mat-icon-button matTooltip="View Task List" (click)="goTo('task')">
                <mat-icon>view_list</mat-icon>
            </button>
        </a>
        <a mat-list-item>
            <button mat-icon-button>
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu
        </mat-icon>
      </button>
      <span>Rue21</span>
      <span class="spacer"></span>
      <div class="navbar-menu">
          <a mat-list-item>
              <button mat-icon-button matTooltip="View Task List" (click)="goTo('task')">
                  <mat-icon>view_list</mat-icon>
              </button>
          </a>
          <a mat-list-item>
              <button mat-icon-button matTooltip="Logout">
                  <mat-icon>exit_to_app</mat-icon>
              </button>
          </a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>