<div class="task-add">
    <h3 mat-dialog-title>Add New Task</h3>
    <hr/>
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">        
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <mat-form-field color="accent">
                    <input matInput placeholder="Task Name" [(ngModel)]="task.name" name="name" required>
                </mat-form-field>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
            <div fxFlex="20%">
                <mat-form-field>
                    <mat-select placeholder="Choose a state" [(ngModel)]="task.state" name="taskState">
                        <mat-option *ngFor="let state of taskState" [value]="state.value">{{ state.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
            <div fxFlex="20%">
                <mat-form-field>
                    <input matInput placeholder="Time" [(ngModel)]="task.time" name="time" required [ngxTimepicker]="taskTime">
                    <ngx-material-timepicker #taskTime></ngx-material-timepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
            <div fxFlex="100%">
                <mat-form-field>
                    <input matInput placeholder="Filename" [(ngModel)]="task.fileName" name="fileName" required>                    
                </mat-form-field>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
            <div fxFlex="20%">
                <mat-form-field>
                    <mat-select placeholder="Choose repeat" [(ngModel)]="task.repeat" name="repeat">
                        <mat-option *ngFor="let r of repeatTask" [value]="r.value">{{ r.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>    
    </form>
</div>
