<div class="mat-elevation-z8 tasks-container">  
  <mat-table #table [dataSource]="dataSource" class="mat-cell">        
      <ng-container matColumnDef="taskId">
          <mat-header-cell *matHeaderCellDef>TASK ID</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.taskId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="taskName">
          <mat-header-cell *matHeaderCellDef>TASK NAME</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{row.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef>STATE</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{ row.state}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fileName">
          <mat-header-cell *matHeaderCellDef>FILENAME</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{ row.fileName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="repeat">
          <mat-header-cell *matHeaderCellDef>REPEAT</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{ row.repeat }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="from">
          <mat-header-cell *matHeaderCellDef>FROM</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{ row.from | date:"MM/dd/yyyy"}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="to">
          <mat-header-cell *matHeaderCellDef>TO</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{ row.to | date:"MM/dd/yyyy"}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef>TIME</mat-header-cell>
          <mat-cell *matCellDef="let row" >{{ row.time }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
              <button mat-raised-button color="primary" (click)="addTask()">
                  Add Task
              </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index;">
              <button mat-raised-button color="basic">
                  View
              </button> &nbsp;        
              <button mat-raised-button color="basic">
                  Delete
              </button>
          </mat-cell>            
      </ng-container>
      <mat-header-row *matHeaderRowDef="taskColumnNames"></mat-header-row>
      <mat-row *matRowDef="let row; columns: taskColumnNames;"></mat-row>
  </mat-table>
  <div class="no-results" [style.display]="dataSource.filteredData.length == 0 ? '' : 'none'">
      No results
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>