/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.tasks-container {
    width: 98%;
    margin-left: 1%;
    margin-top: 30px;
}